<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    
    <title>Schedule CRUD Application</title>

    <!-- CSS DEV LINKS AREA -->
    <link rel="stylesheet" type="text/css" href="/styles/global.css">
    <link rel="stylesheet" type="text/css" href="/styles/form.css">
    <link rel="stylesheet" type="text/css" href="/styles/table.css">
    <link rel="stylesheet" type="text/css" href="/styles/login.css">
    <link rel="stylesheet" type="text/css" href="/styles/alert-msg.css">
    <!-- CSS DEV LINKS AREA -->
    

    <!-- CSS EXTERNAL LINKS AREA -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <!-- CSS EXTERNAL LINKS AREA -->
    
    
    <!-- SCRIPT LINKS AREA -->
    <script src="/scripts/alert-msg.js" defer> </script>
    <script src="/scripts/toggle.js" defer> </script>
    <!-- SCRIPT LINKS AREA -->

</head>
<body>

    <header id="header-section">

        <nav>
            <div class="container">
    
                <a href="/" class="logo"> Schedule </a>
                
                <ul>

                    <li>
                        <a href="/" onclick="toggle()"> Home </a>
                    </li>

                    <li>
                        <a href="/add-user/index" onclick="toggle()"> Users </a>
                    </li>

                    <% if(user) { %>
                        <li>
                            <a href="/account/logout" onclick="toggle()"> Logout </a>
                        </li>
                    <% } else { %>
                        <li>
                            <a href="/account/index" onclick="toggle()"> Login </a>
                        </li>
                    <% } %>
                </ul>

                <div class="toggle" onclick="toggle()"></div>

            </div>
        </nav>

    </header>