<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/page-not-found.css">

    <title> 404 - Page not Found </title>
</head>
<body>

    <main id="main-section">

        <div class="container">

            <div class="imgBox">
                <img src="/images/404-bg.svg" alt="404 background">
            </div>

            <div class="textBox">
                
                <h1> 404 </h1>
                <h3>UH OH! You're Lost.</h3>

                <p>The page you were looking for doesn't exist. But you can click the button below to go back to the homepage.</p>
                
                <a href="/"> <button> HOME </button> </a>

            </div>

        </div>

    </main>

</body>
</html>