<!-- INCLUDE HEADER AREA -->
    <%- include('includes/_header') %>
<!-- INCLUDE HEADER AREA -->

    <!-- INCLUDE HEADER AREA -->
        <%- include('includes/_flash') %>
    <!-- INCLUDE HEADER AREA -->

    <main id="main-section">

        <div class="container">
            
            <div class="mxw800p text-center">
                <h3> Hello</h3>
                <p> You have just entered in our system, to create or access another account you must click on the <span style="font-weight: 500; color: rgb(255, 0, 0);">logout button</span>, found at the menu or just click bellow to access the home page.</p>
                
                <a href="/" class="btn"> Home </a>
            </div>


        </div>
    </main>

<!-- INCLUDE FOOTER AREA -->
    <%- include('includes/_footer') %>
<!-- INCLUDE FOOTER AREA -->