<!-- INCLUDE HEADER AREA -->
    <%- include('includes/_header') %>
<!-- INCLUDE HEADER AREA -->


<!-- INCLUDE HEADER AREA -->
    <%- include('includes/_flash') %>
<!-- INCLUDE HEADER AREA -->


    <main id="main-section">
        
        <div class="container">

            <% if (users.length > 0) { %>

                <table class="table">

                    <thead class="thead-dark">
                        <tr>
                            <th id='th-none'>Contacts</th>
                            <th>Name</th>
                            <th>Middle Name</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>Phone Number</th>
                            <th>Created On</th>
                            <th>Action</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        <!-- INCLUDE HEADER AREA -->
                            <%- include('includes/_show') %>
                        <!-- INCLUDE HEADER AREA -->
                    </tbody>

                </table>

            <% } else { %>

                <div class="mxw800p index-msg">
                    <img src="images/robot.svg" width="200px">
                    <p class="text-center">There's no contacts to show, you can create them by clicking on the <span  style="font-weight: 500; color: rgb(65, 65, 65);"> user button </span>  right on the top at the page</p>
                </div>  
                
            <% } %>

        </div>
    </main>

<!-- INCLUDE HEADER AREA -->
    <%- include('includes/_footer') %>
<!-- INCLUDE HEADER AREA -->